@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main {
    flex: 1;
}


.form-control:focus {
    box-shadow: none;
}

.form-control.is-invalid:focus {
    box-shadow: none;
}

.form-control.is-valid:focus {
    box-shadow: none;
}